.bg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-lvl-2);  
}
.container{
    background-color: var(--color-lvl-1);
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 var(--shadow-color);
    height: auto;
}
.titel{
    background-color: var(--color-lvl-3);
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 80px;
    border-radius: 5px 5px 0 0;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-lvl-1);
    font-family: var(--titel-font);
}
.container form{
    padding: 30px 20px 25px 20px;

}
.container form .singin{
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;

}

.container form .singin input{
    width: 100%;
    height: 100%;
    padding: 0 15px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid var(--placeholder-color);
    background-color: var(--color-lvl-2);
    color: var(--text-color);
}
.container form .singin input:focus{
    outline: none;
    box-shadow: 0 0 2px 2px var(--shadow-color);
    border: 2px solid var(--color-lvl-3);

}
.container form .btn{
    margin-bottom: 20px;
    height: 40px;
}
.container form .btn input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--color-lvl-3);
    font-size: 20px;
    font-weight: 500;
    background-color: var(--color-lvl-3);
    transition: 0.3s;
    color: var(--color-lvl-1);
    font-family: var(--titel-font);
    cursor: pointer;
}
.container form .btn input:hover{
    background-color: var(--hover-color);
    transition: 0.3s;
}


.container form .login{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.container form .login a{
    color: var(--color-lvl-3);
    text-decoration: none;
    margin: 0 5px;
    font-family: var(--titel-font);
}
.container form .login a:hover{
    text-decoration: underline;
}